@charset "UTF-8";

/********
共通
*****************/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Shippori Mincho', serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}


/********
メインビジュアル
*****************/
.fashionimg img {
    width: 70%;
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
}


/********
ワーク文字
*****************/
.works {
    text-align: center;
    font-size: 1.2em;
    margin-top: 10px;
}


/********
タイトル
*****************/
.title {
    margin-left: 63%;
    margin-top: 1.2%;
}

.title h1 {
    font-size: 5vw;
}

a {
    font-size: 2vw;
    margin-left: 74%;
    margin-top: 1.2%;
    text-decoration: none;
}


/********
制作情報
*****************/
.seisaku-wrapper {
    margin-top: 3%;
}

.seisaku-wrapper p {
    font-size: 1.5vw;
}

.seisaku {
    margin-left: 75%;
}

.kikan {
    margin-left: 76.5%;
}

.tanntou {
    margin-left: 62%;
}



/********
URL
*****************/
.url {
    font-size: 2vw;
    margin-left: 10%;
}


/********
サブタイトル
*****************/
.vertical-text {
    position: relative;
    writing-mode: vertical-rl;
    margin-top: -17%;
    margin-left: 40%;
}

.vertical-text p {
    font-size: 2.2vw;
}

a {
    font-size: 2vw;
    margin-left: 20%;
    margin-top: 1.2%;
    text-decoration: none;
}


/********
説明
*****************/
.description {
    position: relative;
    writing-mode: vertical-rl;
    margin-top: -11%;
    margin-left: 9%;
    margin-bottom: 5%;
}

.description p {
    font-size: 2vw;
}

/********
ツール
*****************/
.tull-wrapper {
    margin-top: -11%;
    margin-bottom: 10%;
}

.tull {
    font-size: 1.5vw;
    margin-left: 71%;
}

.tull2 {
    font-size: 1.5vw;
    margin-top: 0;
    margin-left: 72.5%;
}
