body {
    margin: 0;
    overflow: hidden;
  }
  
  .container {
    position: relative;
    width: 100%;
    height: 200vh; /* 画像が画面外にスクロールするための高さを設定 */
  }
  
  #scrollImage {
    position: fixed;
    width: 10%;
    top: 0;
    left: 0;
  }
  