body {
    margin: 0;
    overflow: hidden;
  }
  
  .container {
    position: relative;
    width: 10%;
  }
  
  #scrollImage {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transition: opacity 0.5s ease; /* 透明度のアニメーションを追加 */
  }
  